rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /players/{playerId} {
      allow get: if request.auth != null && request.auth.uid == playerId;
      allow create: if request.auth != null
        && request.auth.uid == playerId
        && request.resource.data.keys().hasOnly(['displayName', 'city', 'district', 'description'])
        && request.resource.data.displayName is string
        && request.resource.data.city == 'Madrid';
    }
  }
}
