*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  background: var(--color-paper);
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
select {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img,
svg {
  display: block;
}

h1,
h2,
h3,
p,
dl,
dd {
  margin-block-start: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
